.star-rating, .price-rating{
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;

    .star-container, .price-container{
    
    display: flex;
    flex-direction: row;
        
        img{
        width: 20px;
        }
    }
}

a{
    text-decoration: none;
    color: black;
}