
<h1 class="splash">BALI1</h1>
<h5 style="z-index: 1;">EST.2019</h5>

<ion-content class="login">

  <video autoplay muted loop id="myVideo"(click)="showing = !showing">
    <source src="https://balione.s3.amazonaws.com/home-puowgegymp4.compressed.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
<ion-card>
  <ion-card-content >
  <div [ngClass]="showing ? 'show': 'hide'">
    <div class="login-box">
    <ion-button (click)="auth.googleLogin()"> Login With Google<ion-icon name="logo-google"></ion-icon></ion-button>
    <ion-button (click)="login()"> Login With Facebook<ion-icon name="logo-facebook"></ion-icon></ion-button>
    </div>
  </div>
  <ion-button [ngClass]="showing ? 'hide':'show'"  (click)="showing = !showing">Login</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>

