ion-card{
    display: flex;
    flex-direction: column;
}
ion-label{
    color: white;
}
.select-icon{

}
.imgIcon{
    max-width: 30px;
    width: 30px;
    padding-left: 10px;
    align-self: center;
}