<ion-header color="dark">
  <ion-toolbar color="dark">
    <ion-title>Welcome, {{username}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

<ion-card>
  <ion-label>Transportation</ion-label>
  <ion-button>Book A driver
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/car.png" alt="" srcset="">
  </ion-button>
</ion-card>
<ion-card>
  <ion-label>Restraunt Guide</ion-label>
  <ion-button>Food
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/food.png"alt="" srcset="">
  </ion-button>
</ion-card>
<ion-card>
  <ion-label>Day Club Guide</ion-label>
  <ion-button>Day clubs
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/pool.png" alt="" srcset="">
  </ion-button>
</ion-card>
<ion-card>
  <ion-label>Bali Day Attractions</ion-label>
  <ion-button>Attractions
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/monkey.png" alt="" srcset="">
  </ion-button>
</ion-card>
<ion-card>
  <ion-label>Night Life</ion-label>
  <ion-button>Bali Night Clubs
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/map.png" alt="" srcset="">
  </ion-button>
</ion-card>
<ion-card>
  <ion-label>Message Boards</ion-label>
  <ion-button>Forum
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/message.png" alt="" srcset="">
  </ion-button>
</ion-card>
<ion-card>
  <ion-label>Health Guide</ion-label>
  <ion-button>Health
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/health.png" alt="" srcset="">
  </ion-button>
</ion-card>

</ion-content>
