
<ion-header color="dark">
  <ion-toolbar color="dark">
    <div class="toolbar-row">
      <app-user-profile></app-user-profile>
      <ion-title>Dashboard</ion-title>
      <ion-button color="danger" (click)="auth.signOut()">
        Logout
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen >


<ion-grid color="dark">
  <ion-row>
    <ion-col size="6" class="balidragon">
  <ion-button color="balisunkiss">Book A driver
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/car.png" alt="" srcset="">
  </ion-button>
  </ion-col>
  <!-- <ion-label>Restraunt Guide</ion-label> -->
  <ion-col class="baligrimace">
  <ion-button [routerLink]="['/food']" routerLinkActive="router-link-active"  color="baligrimace">Best Food
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/food.png"alt="" srcset="">
  </ion-button>
</ion-col>
</ion-row>
<ion-row>
  <ion-col class="balipoolside">
  <ion-button [routerLink]="['/dayclubs']" routerLinkActive="router-link-active"  color="balipoolside">Day Clubs
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/pool.png" alt="" srcset="">
  </ion-button>
</ion-col>
<ion-col class="balijungle" size="6">
  <ion-button color="balijungle">Attractions
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/monkey.png" alt="" srcset="">
  </ion-button>
</ion-col>
</ion-row>

<ion-row>
  <ion-col class="balidapper" size="7">
  <ion-button color="balidapper">Night Clubs
    <img class="imgIcon" src="https://balione.s3.amazonaws.com/map.png" alt="" srcset="">
  </ion-button>
</ion-col>

  <ion-col class="baliocean">
    <ion-button color="baliocean">Forum
      <img class="imgIcon" src="https://balione.s3.amazonaws.com/message.png" alt="" srcset="">
    </ion-button>
  </ion-col>
  </ion-row>
<ion-row>
  <ion-col class="balisunkiss" size="10">
    <ion-button color="balisunkiss">Health
      <img class="imgIcon" src="https://balione.s3.amazonaws.com/health.png" alt="" srcset="">
    </ion-button>
  </ion-col>
</ion-row>

</ion-grid>
</ion-content >
